/* Colors 
 
Main Pink #DC6584
Pink Tint #F29FBB
Pink Shade #DE4980
Cream #F2E7D3
Off White #F2F3F5
90% Black #404041

*/

/* ==========================================================================
   Typography
   ========================================================================== */


body {
	background: #DC6584;
	color: #F2E7D3;
	font-family: 'Muli', Helvetica, Arial, sans-serif;	
	padding-top: 9em;
}

h1, h2, h3, h4, h5, h6, #title, .figure {
	font-family: 'Quicksand', sans-serif;
	font-weight: 400;
}

p {
	font-size: 2em;
	margin: 1.25em 0;
}

/* ==========================================================================
   Logo Styles
   ========================================================================== */

#logo img {
	max-height: 6em;
}

/* ==========================================================================
   Direction Button Styles
   ========================================================================== */


/* ==========================================================================
   Navigation Styles
   ========================================================================== */

	.navbar-brand {
		padding: 0;
		font-size: 1.25em;
	}

	#donate-icon {
		color: #F2E7D3;
		display: block;
		position: absolute;
		right: 0;
		margin: 2.75em 8em 0 2.75em;

		transition: right 0.3s ease-in-out 0s;
	  	-webkit-transition: right 0.3s ease-in-out 0s;
	  	-moz-transition: right 0.3s ease-in-out 0s;
	  	-o-transition: right 0.3s ease-in-out 0s;
	}

	.nav-expanded #donate-icon {
		right: 13em;
	}

	a.nav-expander {
	  color: #F2E7D3;
	  display: block;
	  font-size: 1.5em;
	  margin-right: 0;
	  padding: 1.5em 1.6em 2em;
	  position: absolute;
	  right: 0;
	  text-decoration: none;
	  transition: right 0.3s ease-in-out 0s;
	  z-index: 12;

	  transition: right 0.3s ease-in-out 0s;
	  -webkit-transition: right 0.3s ease-in-out 0s;
	  -moz-transition: right 0.3s ease-in-out 0s;
	  -o-transition: right 0.3s ease-in-out 0s;

	}

	a.nav-expander:hover {
	  cursor: pointer;
	}

	a.nav-expander.fixed {
	  position: fixed;
	}

	.nav-expanded a.nav-expander.fixed {
	    right: 20em;
	}

	nav {
	  background: #404041;
	  display: block;
	  height: 100%;
	  overflow: auto;
	  position: fixed;
	  right: -20em;
	  font-size: 15px;
	  top: 0;
	  width: 15em;
	  z-index: 2000;
	  
	  transition: right 0.3s ease-in-out 0s;
	  -webkit-transition: right 0.3s ease-in-out 0s;
	  -moz-transition: right 0.3s ease-in-out 0s;
	  -o-transition: right 0.3s ease-in-out 0s;

	}
	.nav-expanded nav {
	  right: 0;
	}

	body.nav-expanded {
	  margin-left: 0em;
	  transition: right 0.4s ease-in-out 0s;
	  -webkit-transition: right 0.4s ease-in-out 0s;
	  -moz-transition: right 0.4s ease-in-out 0s;
	  -o-transition: right 0.4s ease-in-out 0s;
	}

	#nav-close {
	  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	  font-weight: 300;
	  font-size: 24px;
	  padding-right: 10px;
	}

	.main-menu {
	  padding-top: 12px;
	}

	.main-menu li {
	  margin-left: 20px;
	  font-size: 18px;
	  padding: 12px;
	}

	.main-menu li a {
		color: #F2E7D3;
		text-decoration: none;
	}

	.main-menu li a:hover {
	  color: #FFFFFF;
	  text-decoration: none;
	}

	.main-menu li .sub-nav {
	  border-bottom: 0px;
	  padding: 4px;
	}

	.main-menu a .caret {
		width: 0;
		height: 0;
		display: inline-block;
		vertical-align: top;
		border-top: 4px solid #4f5963;
		border-right: 4px solid transparent;
		border-left: 4px solid transparent;
		content: "";
	    margin-top: 8px;
	}

	.main-menu a:hover .caret {
		border-top-color: #4f5963;
	}

	.main-menu li.open > a > .caret {
		border-top: none;
		border-bottom: 4px solid #4f5963;
		border-right: 4px solid transparent;
		border-left: 4px solid transparent;
	}

	.main-menu li.open > a:hover > .caret {
		border-bottom-color: #4f5963;
	}

	.main-menu li > a > span.icon {
	  float: right;
	  margin: 0.1em 1.7em -0.1em 0;
	  opacity: 0;
	  -webkit-transition: all 0.2s ease-in-out;
	  -moz-transition: all 0.2s ease-in-out;
	  -o-transition: all 0.2s ease-in-out;
	  transition: all 0.2s ease-in-out;

	}

	.main-menu li > a:hover > span.icon {
	  float: right;
	  margin: 0.1em 0.8em -0.1em 0;
	  opacity: 1;
	}

/* ==========================================================================
   Page Styles
   ========================================================================== */

   /* ============ Default Styles ============ */

   .page {
   		padding: 20% 0;
   }

   .page-white-bg {
   		background: #F2F3F5;
   		color: #DC6584;
   }

   .page-cream-bg {
   	background: #F2E7D3;
   	color: #DC6584;
   }

   .page-tint-bg {
   	background: #F29FBB;
   	color: #404041;
   }

   /* ====== Home Section ====== */

   #title {
   	font-size: 4em;
   }

   .figure {
   	font-size: 6em;
   }

   /* ====== Risks Section ====== */

   	#warnings li,
   	#breasts li {
   		font-size: 1.5em;
   	}

   	/* ====== Progress Section ====== */

   	#deathrate img,
   	#breasts img {
   		max-width: 400px;
   	}

   #deathrate p {
   	padding-top: 4em;
   }

   /* ====== Prevention Section ====== */

   #breasts h2 {
   	padding-top: 2em;
   }

   /* ====== Donate Section ====== */

   .donate-btn {
   	background: #F29FBB;
   	color: #F2F3F5;
   	font-size: 2em;
   	padding: .5em 0;
   	margin: 1em 0 .5em;
   }

   .donate-btn:hover,
   .donate-btn:focus,
   .donate-btn:active {
   	background: #DE4980;
   	color: #F2F3F5;
   }

   .donate-btn:focus {
   	border-color: #404041;
   }

   /* ====== About/Footer Section ====== */

   #About .page {
   	padding: 10% 0 2%;
   }

   #About p {
   	font-size: 1.25em;
   	padding: 0 2em;
   }

   #profile img {
   	max-width: 200px;
   	border: 4px solid #F2E7D3;
   }

   #profile a {
   	text-decoration: none;
   	color: #DE4980;
   }

   #profile a:hover {
   	color: #F2E7D3;
   }

   #sources {
   	padding-left: 25%;
   }